{% extends 'base.html.twig' %}

{% block title %}Identification{% endblock %}

{% block body %}
    <div class = 'container'>
        <div class = 'row'>
            <div class = 'col-lg-3'></div>
            <div class = 'col-lg-6'>
                <h1>Connexion</h1>
                {{ form(form) }}
            </div>
            <div class = 'col-lg-3'></div>
        </div>
    </div>
{% endblock %}